
html{
    background:lightblue
}
body {
		
	background: rgb(148, 201, 239);
	padding: 1rem;
	max-width: 900px;
	margin: 1rem;
    
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
	}
    .crumb {
        margin-left: 6em;
        display:inline-flex
    }
    img {
       width: 900px;
        max-height: 200px;
    }
    header{
        font-size:xx-large;
        font-family:cursive;
        margin-left: 8em;
    }
h1{
    font-size:larger;
    font-family:cursive;
    text-decoration:underline;
}
