
html{
    background:rgb(177, 188, 209)
}
body {	
	background: rgb(197, 230, 228);
	padding: rem;
	max-width:1000px;
    margin-top: 200px;
    margin-bottom: 200px;
	margin-left: 500px;
	font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif'
    
    
}
.crumb {
    display:inline-flex;
    margin-left:800px
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

header{
    font-size:xx-large;
    font-family:cursive;
    /* margin-left: 25em; */
    text-align:center;
}
h1{
    font-size:larger;
    font-family:cursive;
    text-align:center;
    margin: auto;
    margin-left: 3em;
}
img {
    width: 1000px;
        margin-right:200px;
        max-height: 300px;
    
        
    }
    h1{
        font-size: x-large;
        font-style: oblique;
        text-decoration-line: underline;
        margin-left: 10px;
    }
    h2{
        font-family:cursive;
        font-display:initial;
        text-decoration-line: underline;
    }
    p{
        font-size: larger;
        font-style:oblique;
    }

label{
    font-family:cursive;
}
#appointmentBtn{
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 150px;
    background-color: cadetblue;
    border-style: solid;
    border-color: red rgba(170, 50, 220, .6) green;
  
}
.state-card {
    border: 2px solid black;
    padding: 20px;
    /* margin: 600px; */
    width: 415px;
    height: 400px;
    
     
}
.appoint_card{

    border: 2px solid black;
    padding: 20px;
    width: 415px;
    height: 300px;
}

.imgcard{
    width:400px;
    height:200px;
}
.tableclass{
    width:1000px;
    border: 3px solid rgb(17, 16, 16);
    
}

.trclass{
    width:1000px;
    height:420px;
}

.tdclass{
    width:400px;
    height:420px;

}
#availableDiv{
    display:flex;
    flex-wrap: wrap;
    margin-left: 40px;

}
#appointmentListDiv{
    display:flex;
    flex-wrap: wrap;
    margin-left: 40px;

}